.DS_Store
.idea/
.gradle/
.buckd/
node_modules/
package-lock.json
*.log
*.map
*.iml
*.pbxuser
*.keystore
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
reports
xcuserdata
DerivedData
local.properties
dist/*
static/client.js
static/styles.css
